#include "resource.h"
#include "version.h"
#include <winver.h>

// Application icon
IDI_APP_ICON ICON "resources/app.ico"

// Toolbar icons (24x24 BMP, 24-bit color recommended)
// Place your .bmp files in src/manager/resources/
IDB_TOOLBAR_NEW_VM    BITMAP "resources/new_vm.bmp"
IDB_TOOLBAR_EDIT      BITMAP "resources/edit.bmp"
IDB_TOOLBAR_DELETE    BITMAP "resources/delete.bmp"
IDB_TOOLBAR_START     BITMAP "resources/start.bmp"
IDB_TOOLBAR_STOP      BITMAP "resources/stop.bmp"
IDB_TOOLBAR_REBOOT          BITMAP "resources/reboot.bmp"
IDB_TOOLBAR_SHUTDOWN        BITMAP "resources/shutdown.bmp"
IDB_TOOLBAR_SHARED_FOLDERS  BITMAP "resources/shared_folders.bmp"
IDB_TOOLBAR_PORT_FORWARDS   BITMAP "resources/port_forwards.bmp"
IDB_TOOLBAR_DPI_ZOOM        BITMAP "resources/dpi_zoom.bmp"
IDB_TOOLBAR_LLM_PROXY       BITMAP "resources/llm_proxy.bmp"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION    AGENTSPHERE_VERSION_RC
PRODUCTVERSION AGENTSPHERE_VERSION_RC
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS      VS_FF_DEBUG
#else
FILEFLAGS      0
#endif
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      AGENTSPHERE_COMPANY_NAME
            VALUE "FileDescription",  AGENTSPHERE_FILE_DESCRIPTION
            VALUE "FileVersion",      AGENTSPHERE_VERSION_STR
            VALUE "InternalName",     "tenbox-manager"
            VALUE "LegalCopyright",   AGENTSPHERE_COPYRIGHT
            VALUE "OriginalFilename", "tenbox-manager.exe"
            VALUE "ProductName",      AGENTSPHERE_PRODUCT_NAME
            VALUE "ProductVersion",   AGENTSPHERE_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
